body {
  background-color: #009900;
}

h1 {
  text-align: center;
}

#pic {
  text-align: center;
  border-radius: 42px;
}

h2 {
  color:#ed7512;
  text-align: center;
  font-size: 5vw;
  margin: 100px 0px 0px 50px;
}

ul {
  margin-left: 50px;
}

p {
  margin-top: 0px;
  text-align: center;
}
.listings{
  font-family: fantasy;
  font-weight: lighter;
  font-size: 3vw;
  color: orange;
  text-align: center;
  display: inline;
}
