body {
  background-color: #009900;
}

h1 {
  text-align: center;
}

#pic {
  text-align: center;
}

h2 {
  margin: 100px 0px 0px 50px;
}

ul {
  margin-left: 50px;
}

p {
  margin-top: 0px;
  text-align: center;
}
